@model web.Models.Knjiga_avtor

@{
    ViewData["Title"] = "Svet knjig";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Svet Knjig</h1>
        <p class="lead text-body-secondary">Dobrodošli v Svetu Knjig vašem navdihujočem kotičku za odkrivanje sveta literature. Naša spletna knjigarna je dom knjižnih zakladov, kjer se srečajo strastni bralci in najnovejše literarne stvaritve.</p>
        <p>
            <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Login">Prijava</a>
            <a class="btn btn-secondary my-2" asp-area="Identity" asp-page="/Account/Register">Registracija</a>
        </p>
      </div>
    </div>
  </section>
  
<div class="books">
      <div class="container"> 
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  

            @{
               List<string> knjige = new List<string>();

            foreach (var knjiga in Model.Knjige)
            {
                knjige.Add($"{knjiga.Naslov}");
            }
            List<string> avtorji = new List<string>();

            foreach (var avtor in Model.Avtorji)
            {
                avtorji.Add($"{avtor.Ime} {avtor.Priimek}");
            }

            }

            @for(int i=0; i<knjige.Count;i++){

            
            <div class="col">
              <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Image</title>
                    <image href="@Url.Content($"./../../wwwroot/{knjige[i]}.jpg")" width="100%" height="100%" />
                </svg>
                <div class="card-body">
                    <p class="card-text">@knjige[i]</p>
                    <p class="card-text">@avtorji[i]</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                    </div>
                    <small class="text-body-secondary">Cena:</small>
                  </div>
                </div>
              </div>
            </div>
          }
      </div>
    </div>
  </div>

