@model web.Models.Knjiga_avtor

@{
    ViewData["Title"] = "Svet knjig";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Svet Knjig</h1>
        <p class="lead text-body-secondary">Dobrodošli v Svetu Knjig vašem navdihujočem kotičku za odkrivanje sveta literature. Naša spletna knjigarna je dom knjižnih zakladov, kjer se srečajo strastni bralci in najnovejše literarne stvaritve.</p>
        <p>
            <a class="btn btn-primary my-2" asp-area="" asp-controller="Uporabnik" asp-action="Create">Prijava</a>
            <a class="btn btn-secondary my-2" asp-area="" asp-controller="Uporabnik" asp-action="Create">Registracija</a>
        </p>
      </div>
    </div>
  </section>

<h1>Avtorji</h1>
<table>
    <thead>
        <tr>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Datum rojstva</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var avtor in Model.Avtorji)
        {
            <tr>
                <td>@avtor.Ime</td>
                <td>@avtor.Priimek</td>
                <td>@avtor.Datum_rojstva</td>
            </tr>
        }
    </tbody>
</table>

<h1>Knjige</h1>
<table>
    <thead>
        <tr>
            <th>Naslov</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var knjiga in Model.Knjige)
        {
            <tr>
                <td>@knjiga.Naslov</td>
            </tr>
        }
    </tbody>
</table>
<div class="album py-5 bg-body-tertiary">
      <div class="container"> 
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <p class="card-text">IME KNJIGE</p>
              <p class="card-text">AVTOR KNJIGE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">Cena: </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
