@model web.Models.Uporabnik

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Uporabnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priimek" class="control-label"></label>
                <input asp-for="Priimek" class="form-control" />
                <span asp-validation-for="Priimek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uporabnisko_ime" class="control-label"></label>
                <input asp-for="Uporabnisko_ime" class="form-control" />
                <span asp-validation-for="Uporabnisko_ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geslo" class="control-label"></label>
                <input asp-for="geslo" class="form-control" />
                <span asp-validation-for="geslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum_rojstva" class="control-label"></label>
                <input asp-for="Datum_rojstva" class="form-control" />
                <span asp-validation-for="Datum_rojstva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

